.group {
  .date {
    background-color: #f1f4f8;
    color: #4f6c92;
    padding: 16px;
    font-weight: bold;
    border-left: 1px solid #cbd2e1;
    border-right: 1px solid #cbd2e1;

    .groupInfo {
      color: #a4b8d3;
      font-weight: 400;
      font-size: 12px;
      padding-left: 16px;
    }
  }
}
