@import "../../styles/variables";

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #cbd2e1;
  padding: 16px;

  .timeArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .time {
      color: #4f6c92;
      margin: 0;
      padding-bottom: 2px;
    }
    .area {
      color: #a4b8d3;
      margin: 0;
    }
  }
  .statusAction {
    display: flex;
    align-items: center;
    gap: 24px;
    .status {
      font-weight: 600;
      font-size: 18px;
      text-align: right;
    }
    .button {
      border-radius: 50px;
      border: 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      box-sizing: border-box;
      padding: 8px 16px;
      font-weight: bold;
      cursor: pointer;
    }
    .success {
      color: $success-text;
      border-color: $success-border;
      &:disabled {
        color: $success-disabled;
        border-color: $success-disabled;
      }
    }
    .danger {
      color: $danger-text;
      border-color: $danger-border;
      &:disabled {
        color: $danger-disabled;
        border-color: $danger-disabled;
      }
    }
    .primary {
      color: #4f6c92;
    }
  }
}
